<%- include('partials/header.ejs') %>
    <div class="table-container">
        <h1 class="todo-title">Delete Todo</h1>
        <a href="/" class="btn">Back</a>
        <div class="confirm">
            <p>Are you sure you want delete this todo </p>
            <a class="btn" href="/confirm-delete?id=<%= id %>&confirm=yes">Yes</a>
            <a class="btn" href="/confirm-delete?id=<%= id %>&confirm=no">No</a>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>