<%- include('partials/header.ejs') %>
    <div class="table-container">
        <h1 class="todo-title">Add Todo</h1>
        <div>
            <a href="/" class="btn">Back</a>
            <form action="/add-todo" method="POST">
                <div class="new-todo">
                    <div class="form-group">
                        <label for="title" class="text-light">Title</label>
                        <input type="text" name="title" id="title" placeholder="Type your todo here..." required>
                    </div>
                    <div class="form-group">
                        <label for="description" class="text-light">Description</label>
                        <input type="text" name="desc" id="description"
                            placeholder="Type description todo here..." required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn">Add Task</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>